.dataContainer {
  position: fixed;
  right: 25px;
  bottom: 80px;
  list-style: none;
}

.dataContainer li {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 12px;
}

.data {
  background-color: white;
  padding: 8px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.data a {
  color: var(--secondary-color-charcoal);
  text-decoration: none;
}

.data a:hover {
  color: var(--primary-color-orange);
}

.hiddenPopover {
    background-color: transparent;
    box-shadow: none;
}
