.specialityContainer {
    padding-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 25px;
    background: #ffeedb;
}

.cardsGroup {
    padding: 60px 160px 60px 160px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

  /* Responsive adjustments for tab */
  @media (max-width: 768px) {
    .cardsGroup {
        padding: 30px 140px 60px 140px;
    }
  }
  
  /* Responsive adjustments for mobile */
  @media (max-width: 480px) {
    .specialityContainer {
      padding-top: 20px;
      margin-right: 20px;
      margin-left: 20px;
    }
    
    .cardsGroup {
      flex-wrap: nowrap;
      overflow-x: auto;
      padding:0;
      gap: 20px;
      justify-content: normal;
      padding: 30px 20px;
    }
  }