.serviceDetailsContainer {
    padding-left: 24px; 
    padding-right: 24px;
    color: var(--secondary-color-charcoal);
    margin-bottom: 100px;
}

.description {
    margin-top: 24px; 
    margin-bottom: 40px;
}

.accordian {
    margin-bottom: 20px;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 480px) {
    .serviceDetailsContainer {
        margin-bottom: 40px;
    }

    .accordian {
        margin-bottom: 10px;
    }
}