.docSection {
  background-image: url("/images/bg/bg4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.docContainer {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  background: rgb(235, 235, 235);
  margin: 0 160px;
}

.imgContainer {
    position: relative;
    min-width: 350px;
}

.extraImgContainer {
    position: relative;
    min-width: 550px;
    height: 400px; 
}

.myImg {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content {
  padding: 85px;
  display: flex;
  flex-direction: column;
}

.content p {
  margin-top: 40px;
  text-align: justify;
  color: var(--secondary-color-charcoal);
  line-height: 1.5;
}

.paraFocus {
  color: var(--primary-color-orange);
  font-weight: 800;
  font-size: 18px;
}

.docInfoContainer {
  display: flex;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: space-around;
  align-items: center;
}

.docImage {
  border: 1px solid black;
  border-radius: 5px;
}

.paperContent {
  display: flex;
  align-items: center;
}

.paperTitle {
  color: var(--secondary-color-charcoal);
  font-size: 14px;
}

.paperCount {
  margin-left: 4px;
  color: var(--primary-color-orange);
  font-size: 20px;
}

/* Responsive adjustments for tabs */
@media (max-width: 1024px) {
    .docSection {
        padding: 100px 0;
    }

    .docContainer {
        flex-direction: column;
        align-items: center;
        margin: 0 100px;
    }

    .imgContainer {
        height: 534px;
    }

    .extraImgContainer {
        width: 100%;
    }

    .myImg {
        border-radius: 5px;
    }

    .docInfoContainer {
        margin-right: 100px;
        margin-left: 100px;
        flex-direction: column-reverse;
        gap: 44px;
    }
}

/* Responsive adjustments for mobile devices */
@media (max-width: 480px) {
    .docSection {
        padding: 60px 0;
    }

    .docContainer {
        margin: 0 20px;
    }

    .imgContainer {
        min-width: 100%;
    }

    .extraImgContainer {
        min-width: 100%;
    }

    .content {
        padding: 40px;
    }

    .docInfoContainer {
        margin-right: 20px;
        margin-left: 20px;
        flex-direction: column-reverse;
        margin-top: 60px;
    }
}
