.activeNavItem {
    color: var(--primary-color-orange); 
}

.divider {
    margin-top: auto;
    bottom: 60px;
    position: absolute;
    width: 100%;
}

.socialMediaContainer {
    display: flex;
    gap: 40px;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}