.header {
    z-index: 2;
    background-color: white;
    min-height: 64px;
    width: 100vw;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 2;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
}

.title {
    font-size: 24px;
    margin-right: 24px;
    color: var(--secondary-color-charcoal);
}

.title > span {
    color: var(--primary-color-orange);
}

.navigation > button {
    margin-right:16px
}

.menuIcon {
    display: none;
}

@media (max-width: 480px) {
    .header {
        min-height: 48px;
    }

    .navigation {
        display: none;
    }

    .menuIcon {
        cursor: pointer;
        display: contents;
        float: right;
    }
}