.header {
    background-color: white;
    min-height: 64px;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
}

.title {
    font-size: 24px;
    margin-right: 24px;
}

.navigation > button {
    margin-right:16px
}

.menuIcon {
    display: none;
}

@media (max-width: 480px) {
    .navigation {
        display: none;
    }

    .menuIcon {
        cursor: pointer;
        display: contents;
        float: right;
    }
}