.footerContainer {
    height: 500px;
    width: 100vw;
    /* background-image: url("../../images/footer.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fcfcfc; */
}