.card {
    max-width: 60vw;
}

.cardAction {
    display: flex;
    padding: 8px;
}

.image {
    height: 160px;
    width: 160px;
}

.cardContent {
    margin-left: 8px;
}

.btn {
    color: var(--primary-color-orange);
    text-transform: lowercase;
    float: right;
    display: flex;
    align-items: center;
}

/* Responsive adjustments for tabs */
@media (max-width: 768px) {

}
  
/* Responsive adjustments for mobile devices */
@media (max-width: 480px) {
    .card {
        max-width: 95vw;
    }

    .cardAction {
        flex-direction: column;
        padding: 4px;
    }

    .image {
        height: 120px;
        object-fit: contain;    
    }

    .cardHeading {
        font-size: 18px;
    }
}